.article {
  --offset: 5vmin;
  --border-radius: 5vmin;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  outline: 4px dashed #fff;
  overflow: hidden;
  position: relative;

  &:focus:not(:active) {
    outline: 12px dashed #fff;
  }

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
  }

  &__cover {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);

    &__filter {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #1b7b4e;
      opacity: 0.2;
      display: block;
      pointer-events: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius);
      display: block;
    }
  }

  &__title {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 90%;
    padding: clamp(24px, 8vmin, 8vmin) clamp(24px, 6vmin, 6vmin);
    border-radius: var(--border-radius);

    &__inside {
      font-size: 7vw;
      line-height: 0.9;
      text-decoration-color: #fff;
      color: #fff;

      .article__wrapper:hover & {
        text-decoration: underline;
      }
    }
  }
}
