.articlePage {
  --offset: 6vmin;
  --border-radius: 5vmin;
  display: flex;
  justify-content: center;
  padding: 0 var(--offset);
  padding-bottom: clamp(20vh, 80vw, 70vh);

  &__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1440px;
    background-color: #fff;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  &__cover {
    position: relative;
    width: calc(100% + 6vmin);
    height: 45vh;
    overflow: hidden;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    transform: translateX(-3vmin);
    outline: 1vmin dashed #fff;
    background-color: #eee;

    &__filter {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #1b7b4e;
      opacity: 0.2;
      display: block;
      pointer-events: none;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      object-fit: cover;
    }
  }

  &__content {
    width: 100%;
    padding: clamp(16px, 6.5vmin, 6.5vmin);
    padding-bottom: clamp(16px, 10vmin, 10vmin);
    border-radius: var(--border-radius);

    h1 {
      font-size: 5vw;
      line-height: 0.9;
    }

    &__body {
      font-size: clamp(16px, 2.5vw, 24px);
      margin-top: 2vh;
      width: 100%;
      max-width: 800px;

      * {
        margin-top: 1em;

        br {
          margin: 0;
        }
      }
    }
  }

  &__nav {
    position: fixed;
    z-index: 0;
    bottom: var(--offset);
    left: var(--offset);
    right: var(--offset);
    display: flex;
    justify-content: center;
    --border-radius: 10vmin;

    &__wrapper {
      width: 100%;
      max-width: 1440px;
      height: 100px;
      border-radius: var(--border-radius);
      background-color: #fff;
      display: flex;
      padding: 1.5vmin;
      column-gap: 1.5vmin;
    }

    a {
      position: relative;
      width: 50%;
      height: 100%;
      border-radius: calc(var(--border-radius) - 1.5vmin);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      will-change: width;
      transition: width 0.225s cubic-bezier(0.4, 0, 0, 1),
        background-color 0.225s cubic-bezier(0.4, 0, 0, 1);

      &:nth-child(1) {
        background-color: #eee;
        color: #1b7b4e;

        &.disabled {
          span {
            background-color: #eee;
          }

          &:hover,
          &:focus {
            &,
            * {
              cursor: url('/img/forbidden.svg') 23 23, pointer;
            }
          }
        }

        &:hover,
        &:focus {
          &:not(.disabled) {
            width: 60%;
            background-color: darken(#eee, 5%);

            &:nth-child(2) {
              width: 40%;
            }
          }
        }
      }

      &:nth-child(2) {
        background-color: #1b7b4e;
        color: #fff;

        &.disabled {
          span {
            background-color: #1b7b4e;
          }

          &:hover,
          &:focus {
            &,
            * {
              cursor: url('/img/forbidden.svg') 23 23, pointer;
            }
          }
        }

        &:hover,
        &:focus {
          &:not(.disabled) {
            width: 60%;
            background-color: darken(#1b7b4e, 3%);

            &:nth-child(1) {
              width: 40%;
            }
          }
        }
      }

      &:focus {
        outline: 0.75vmin dashed #1b7b4e;
      }

      .rubalise {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        pointer-events: none;

        &__inside {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: 150%;
          display: flex;
          align-items: center;
          transform-origin: center center;

          span {
            display: block;
            height: 4vmin;
            width: calc(1 / 16 * 100%);
            transform: skewX(-45deg);

            &:nth-child(1n) {
              background-color: #111;
            }

            &:nth-child(2n) {
              background-color: #ffeb0e;
            }
          }
        }
      }

      > span {
        position: relative;
        z-index: 1;
        font-size: clamp(12px, 5.375vmin, 5.375vmin);
        font-weight: 700;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding: 0.15em 0.45em;
        border-radius: 9999px;
      }
    }
  }
}
